@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 20% 99%; /* Stone 50 */
    --foreground: 24 10% 10%;

    --card: 0 0% 100%;
    --card-foreground: 24 10% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 24 10% 10%;

    /* Cor da Marca (Taupe/Bronze) */
    --primary: 25 6% 50%;
    --primary-foreground: 0 0% 100%;

    /* Cor de Destaque (Verde Joia) */
    --secondary: 163 94% 24%;
    --secondary-foreground: 0 0% 100%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 25 6% 50%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold;
  }
}